{% extends "basic.html" %}

{% block title %} About me {% endblock title%}


{% block content %}
<div class="container d-flex vh-100 justify-content-center align-items-center">
    <div class="w-50">
        <h1>Bobei Bogdan-Dumitru</h1>
        <p>Student @ Politehnica University of Bucharest</p>
        <p>I'm a motivated and creative person with a friendly nature. I believe that the world is meant to be discovered, which is why I see this as an opportunity to study and explore as many areas as possible and discover for myself what life has to offer.</p>
        <p>Email: bobei.bogdan.off@gmail.com</p>
        <p>Location: Romania, Bucharest (for now)</p>
        <p><a href="https://www.linkedin.com/in/bogdan-bobei/">My LinkedIn</a></p>
    </div>
</div>
{% endblock content %}
