{% extends "basic.html" %}

{% block title %} About Us {% endblock title%}

{% block content %}
<div class="container d-flex vh-100 justify-content-center align-items-center">
    <div class="row text-center">
        <div class="col-md-3 mb-5">
            <h1>Alexandra Prigoreanu</h1>
            <p>Spearheaded the development of the recommendation system for Pictogram. Her work ensures that users receive personalized suggestions based on their preferences, making their experience seamless and inspiring.</p>
        </div>
        <div class="col-md-3 mb-5">
            <h1>George Cărpinișan</h1>
            <p>Implemented the chat system, enabling users to connect and communicate directly with each other. His efforts facilitate real-time interactions, fostering a vibrant and engaging community on the platform.</p>
        </div>
        <div class="col-md-3 mb-5">
            <h1>Bobei Bogdan-Dumitru</h1>
            <p>Designed and developed the database for managing user-uploaded photos, ensuring efficient storage and retrieval. He also built the Like and Comment system, empowering users to engage with content and express their appreciation.</p>
        </div>
        <div class="col-md-3 mb-5">
            <h1>George-Andrei Niță-Pîrvu</h1>
            <p>Handled the hosting and backend setup for Pictogram, ensuring the platform's infrastructure is robust and supports real-time communication. His work guarantees that users can chat and collaborate without interruptions.</p>
        </div>
    </div>
</div>
{% endblock content %}
