{% extends "basic.html" %}

{% block title %} Home {% endblock title %}


{% block content %} 
<div class="container d-flex vh-100 justify-content-center align-items-center">
    <div class="w-50">

        <div class=container mb-4">
            <h1>Welcome to DeranoStock!</h1>
            <p>At DeranoStock, we understand the importance of preserving your precious memories. Whether it's capturing special moments with loved ones, documenting your travels, or showcasing your creative work, your images deserve a safe and secure home.</p>
        </div>   

        <div class=container mb-4">
            <h2>Our Mission</h2>
            <p>Our mission at DeranoStock is simple: to provide you with a reliable platform to store and organize your images with ease. We aim to empower you to create, share, and cherish your memories for years to come.</p>
        </div>

        <div class=container mb-4">
            <h2>Key Features</h2>
            <ul>
              <li><strong>Secure Image Storage:</strong> (maybe) Your images are stored securely in our database, ensuring that they remain safe and accessible whenever you need them.</li>
              <li><strong>User-Friendly Interface:</strong> Our intuitive interface makes it easy for you to upload, view, and manage your images with just a few clicks.</li>
              <li><strong>Collaboration and Sharing:</strong> Share your galleries with friends and family, or collaborate with others on projects by granting them access to specific images or galleries.</li>
              <li><strong>Easy Search:</strong> Quickly find the images you're looking for in our database with just one click!</li>
            </ul>
        </div>

        <div class=container mb-4">
            <h2>Get Started</h2>
            <p>Ready to start preserving your memories with DeranoStock? Sign up for an account today and unlock a world of possibilities for your images.</p>
            <p>Join DeranoStock and embark on a journey to safeguard your memories for generations to come!</p>
        </div>
    </div>
</div>
{% endblock content %}
